:root{
    --background: #0c0d0f;
    --foreground: #181a1f;
    --primary: #fb3747;
    --secondary: #292c33;
    --tertiary: #212329;
    --border: #494f5c;
    --hover: #b82834;
    --active: #cc2d3a;
    --ring: #00aaff;
    
    --success: #26d15f;
    --warning: #fb9937;
    --danger: #fb3747;
    
    --text-primary: #ffffff;
    --text-secondary: #959dad;
    --text-tertiary: #d7dae0;
    --text-disabled: #626a7a;
}